{% extends "base.html" %}

{% block head %} 
<title>List</title>
{% endblock head %}

{% block body %} 
<div class="content">
    <h1>List of tasks</h1>
    
    <div id="help">
        <div id="left">
            <a href="/"><button>Back</button></a>
        </div>
        <div id="right">
            <i class="fas fa-pencil-alt"> = Update |</i>
            <i class="fas fa-times"> = Delete</i></p>
        </div>
    </div>


    <form id="form" action="/add/{{site}}" method="POST">
        <input type="text" name="list" id="{{site}}" autofocus>
        <input type="submit" value="Add List">
    </form>
    {% if lists|length < 1 %}
        <h4 style="text-align: center">You got an empty list. Fill it up!</h4>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th></th>                   
                    <th style="text-align: left;">List</th>
                    <th>Not <br>available</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for list in lists %}
            <tbody>
                <tr class="active">
                    <th style="width: 5%;"> - </th>
                    <td style="width:85%;text-align: left;">{{ list.list_content }}</td>
                    <td style="width:5%;"><input type="checkbox" name="vehicle1" value="Bike"></td>
                    <td style="width:5%;">
                        <a id="update" href="/update/{{list.id}}"><i class="fas fa-pencil-alt"></i></a>
                        <a id="delete" onclick="return confirm('Are you sure you want to delete {{list.list_content}}?')" href="/delete/{{list.id}}"><i class="fas fa-times"></i></a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <br>
        <!-- <button><a class="deletall" onclick="return confirm('Are you sure you want to delete ALL ITEMS from the list!?')" href="/deleteall/">Delete all</a></button> -->
    </div>
    {% endif %}
{% endblock body %}